<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

{{#if isLoggedIn}}

<div>{{email}} </div>
{{/if}}

<a href="/auth/signup">Signup</a>
<br>
<a href="/auth/login">Login</a>
<br>
<br>
<a href="/auth/logout">Logout</a>

<br>
<a href="/rooms/room">Create room</a>